@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.chooseCategory{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 150px; */
  /* grid-row: 200px; */
  /* gap: 0px; */
  /* border: 2px solid red; */
}
.category-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 200px 200px;
}
/* .category-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

/* .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
.get-in-touch input::placeholder{
  font-size: 15px !important;
}
.slick-slide>div {
  margin: 0 20px;
 
}

/* .slick-list {
  margin: 0 -10px;
} */

