@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../assets/flaticons/flaticon_farmacy.css";

h1,p,h2,h3,h4,h5,h6,div,span,a{
  color: black;
}

.slick-track {
  margin-left:0 !important;
}


.rc-slider-track {
  position: absolute;
  height: 100%;
  border-radius: 6px;
  background-color: #A5D67A !important;
  opacity: 100% !important;
}
.rc-slider-handle{
  background-color: #588f27 !important;
  border-color: #588f27 !important;
  opacity: 100% !important;
  box-shadow: none !important;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.chooseCategory{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 150px; */
  /* grid-row: 200px; */
  /* gap: 0px; */
  /* border: 2px solid red; */
}
.category-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 200px 200px;
}

.slick-slide>div {
  margin: 0 3px !important;
 }


/* .category-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

/* .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
.get-in-touch input,textarea::placeholder{
  font-size: 15px !important;
color: #999999;
/* font-weight: bold; */
font-weight: 500;
}
.bst-sell-form input::placeholder{
  font-size: 12px !important;
font-weight: 500;
}
.create-account input::placeholder{
  font-size: 12px !important;
font-weight: 500;
}
/* .textarea-container textarea::placeholder{
  font-size: 12px !important;
  font-weight: 500;
} */
.log-in input::placeholder{
  font-size: 12px !important;
font-weight: 500;
}
.slick-slide>div {
  margin: 0 20px;
  /* margin-right: 20px; */
 
}
.no-scroll {
  overflow: hidden;
}


